
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Estudios Realizados</h2>
        </div>
        <div class="card-body">
            <div class="table">
                <thead>
                    <tr>
                        <th scope="col">Identificador</th>
                        <th scope="col">Centro</th>
                        <th scope="col">Título</th>
                        <th scope="col">Año Ingreso</th>
                        <th scope="col">Año Egreso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of conocimientos" class="text-center">
                        <td>{{item.id}}</td>
                        <td>{{item.centro}}</td>
                        <td>{{item.titulo}}</td>
                        <td>{{item.anio_ingreso}}</td>
                        <td>{{item.anio_egreso}}</td>
                        
                        <td><button class="btn btn-outline-warning" routerLink="/editar/{{item.id}}"><i class="far fa-edit"></i> Editar</button></td>
                        <td><button class="btn btn-outline-danger" (click)="borrar(item.id)"><i class="far fa-trash-alt"></i> Borrar</button></td>
                        
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>
